# Ignorar archivos compilados de Python
__pycache__/
*.py[cod]

# Ignorar base de datos local
*.sqlite3
db.sqlite3
# Ignorar SQLite temporales
*.sqlite3-shm
*.sqlite3-wal

# Ignorar migraciones (opcional si no usás control de versiones sobre ellas)
**/migrations/
!**/migrations/__init__.py  # Permite mantener el __init__.py

# Archivos sensibles y de entorno
.env
*.env
*.log

# Archivos de entornos virtuales
venv/
env/
*.venv/

# Archivos de dependencias de IDEs y editores
.vscode/
.idea/
*.swp

# Caché de sistema
.DS_Store

