<aside class="main-sidebar sidebar-dark-primary elevation-4" style="height: 100vh; overflow-y: auto;">
  <!-- Logo / título -->
  <a href="#" class="brand-link">
    <i class="fas fa-user-cog mx-2"></i>
    <span class="brand-text font-weight-light">RRHH System</span>
  </a>

  <div class="sidebar">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu">
        
        {% if user.rol == 'admin' %}
        <!-- Poner las url que son para admin -->
        {% elif user.rol == 'gerente' %}
        <!-- Poner las url que son para gerente -->
        {% elif user.rol == 'jefe' %}
         <!-- Poner las url que son para jefe -->
        {% elif user.rol == 'empleado' %}
         <!-- Poner las url que son para empleado -->
        {% else %}
        <!-- Poner las url que son para normal -->
        {% endif %}

        <li class="nav-item"><a class="nav-link" href="{% url 'agregar_sueldo_base' %}"><i class="nav-icon fas fa-dollar-sign"></i><p>Agregar Sueldo Base</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'beneficios' %}"><i class="nav-icon fas fa-gift"></i><p>Beneficios</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'calcular_bonificaciones' %}"><i class="nav-icon fas fa-calculator"></i><p>Bonificaciones</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'capacitaciones' %}"><i class="nav-icon fas fa-chalkboard-teacher"></i><p>Capacitaciones</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'cargos' %}"><i class="nav-icon fas fa-briefcase"></i><p>Cargos</p></a></li>
        <li class="nav-item"><a class="nav-link" href=""><i class="nav-icon fas fa-layer-group"></i><p></p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'competencias' %}"><i class="nav-icon fas fa-tasks"></i><p>Competencias</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contratos' %}"><i class="nav-icon fas fa-file-contract"></i><p>Contratos</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'costos_de_personal' %}"><i class="nav-icon fas fa-file-invoice-dollar"></i><p>Costos de Personal</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'criterios_evaluacion' %}"><i class="nav-icon fas fa-check-double"></i><p>Criterios Evaluación</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'departamentos' %}"><i class="nav-icon fas fa-building"></i><p>Departamentos</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'empleados' %}"><i class="nav-icon fas fa-users"></i><p>Empleados</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'evaluacion_desempeno' %}"><i class="nav-icon fas fa-chart-line"></i><p>Evaluación Desempeño</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'habilidades' %}"><i class="nav-icon fas fa-brain"></i><p>Habilidades</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'instituciones' %}"><i class="nav-icon fas fa-university"></i><p>Instituciones</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'logros' %}"><i class="nav-icon fas fa-award"></i><p>Logros</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'nominas' %}"><i class="nav-icon fas fa-id-card"></i><p>Nóminas</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'objetivos' %}"><i class="nav-icon fas fa-bullseye"></i><p>Objetivos</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'personas' %}"><i class="nav-icon fas fa-user"></i><p>Personas</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'postulantes' %}"><i class="nav-icon fas fa-user-plus"></i><p>Postulantes</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'publicar_ofertas_de_empleo' %}"><i class="nav-icon fas fa-bullhorn"></i><p>Ofertas de Empleo</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'registrar_asistencia' %}"><i class="nav-icon fas fa-calendar-check"></i><p>Asistencia</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'solicitudes_nuevos_empleados' %}"><i class="nav-icon fas fa-user-edit"></i><p>Solicitudes Nuevos Empleados</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'tipo_criterio_evaluacion' %}"><i class="nav-icon fas fa-list-alt"></i><p>Tipo de Criterio</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'tipos_contrato' %}"><i class="nav-icon fas fa-file-signature"></i><p>Tipos de Contrato</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'competencias_faltantes' %}"><i class="nav-icon fas fa-exclamation-circle"></i><p>Competencias Faltantes</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'costos_de_contratacion' %}"><i class="nav-icon fas fa-coins"></i><p>Costos de Contratación</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'reporte_evaluacion_desempeno' %}"><i class="nav-icon fas fa-file-alt"></i><p>Reporte Desempeño</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'contratar_nuevo_empleado' %}"><i class="nav-icon fas fa-user-check"></i><p>Contratar Nuevo</p></a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'ausencias_retardos' %}"><i class="nav-icon fas fa-clock"></i><p>Ausencias y Retardos</p></a></li>
      </ul>
    </nav>
  </div>
</aside>
