#hiddenAvatarInputFields {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
}

#avatarContainerEdit {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0;
}
#avatarContainerEdit img, 
#avatarContainerEdit #defaultAvatarIcon {
    position: relative; 
    z-index: 1;         
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

#avatarPlus {
    position: absolute;
    z-index: 10;
    bottom: 5px; 
    right: 5px;  
    background: rgba(0, 113, 6, 0.8);
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    pointer-events: none; 
}

#hiddenAvatarInputFields {
    display: none !important;
    visibility: hidden !important;
    height: 0 !important;
    width: 0 !important;
    overflow: hidden !important;
}


#id_avatar {
    display: none !important; 
}


  #cvitaeNombre {
    color: #333 !important; 
    background-color: #f8f9fa !important; 
    cursor: default; 
  }

  .section-title {
    color: #007bff; 
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
    font-weight: 600;
    font-size: 1.1rem;
  }

  .input-group input, .input-group select {
    padding-right: 2.5rem; 
  }

  .cv-upload-container {
    background: linear-gradient(90deg, #28a745 0%, #20c997 100%); 
    color: white;
    padding: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }

  #editarAcciones .btn-success {
    background: linear-gradient(45deg, #28a745, #218838);
    border: none;
    transition: background 0.3s;
  }

  #editarAcciones .btn-secondary {
    background-color: #6c757d;
    border: none;
  }

  #cvitaeNombre {
    cursor: default;
    border: 1px solid #ccc;
    background-color: #f8f9fa !important;
  }