#containerDiarios, #containerCargo {
    max-height: 450px;
    overflow-y: auto; 
}

#containerDiarios::-webkit-scrollbar, 
#containerCargo::-webkit-scrollbar {
    width: 6px;
}

#containerDiarios::-webkit-scrollbar-thumb, 
#containerCargo::-webkit-scrollbar-thumb {
    background-color: #ccc;
    border-radius: 3px;
}

.table-compact-goals td,
.table-compact-goals th {
    padding-top: 0.3rem !important;
    padding-bottom: 0.3rem !important;
    font-size: 0.9rem; 
}

.list-group-item.compact-daily-task {
    padding-top: 0.2rem !important; 
    padding-bottom: 0.2rem !important;
    font-size: 0.8rem; 
}

.form-check-input.h4 {
    margin-top: 0 !important; 
}

.table-cargo-objetivos td, 
.table-cargo-objetivos th {
    vertical-align: middle !important; 
}
