{% extends "base.html"%}

  {% block title %}Gestión de Capacitaciones{% endblock %}
  
  {% block content %}

  <div class="container my-5">
    <h1 class="mb-4" style="color: var(--color-primario);">Gestión de Capacitaciones</h1>

    <!-- Botón para Crear -->
    <button type="button" class="btn mb-3 btn-primary" data-bs-toggle="modal" data-bs-target="#modalCapacitacion">
      + Crear Nueva Capacitacion
    </button>

    <!-- Tabla de Capacitaciones -->
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background-color: var(--color-suave);">
          <tr>
            <th style="width: 15%;">Nombre</th>
            <th style="width: 32%;">Descripcion</th>
            <th style="width: 11%;">Fecha de Inicio</th>
            <th style="width: 10%;">Fecha de Fin</th>
            <th style="width: 15%;">Institucion</th>
            <th style="width: 15%;">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for capacitacion in capacitaciones %}
          <tr>
            <td>{{ capacitacion.nombre }}</td>
            <td>
              {% if capacitacion.descripcion %}
                {{ capacitacion.descripcion }}
              {% else %}
                -
              {% endif %}
              </td>
            <td>{{ capacitacion.fecha_inicio }}</td>
            <td>{{ capacitacion.fecha_fin }}</td>
            <td>{{ capacitacion.institucion }}</td>
            <td>
              <div class="d-flex justify-content-center gap-2">
                <!-- Botón Editar -->
                <button class="btn btn-sm btn-outline-secondary"
                        data-bs-toggle="modal" data-bs-target="#modalCapacitacion"
                        data-id="{{ capacitacion.id }}"
                        data-nombre="{{ capacitacion.nombre }}"
                        data-descripcion="{{ capacitacion.descripcion }}"
                        data-fecha_inicio="{{ capacitacion.fecha_inicio }}"
                        data-fecha_fin="{{ capacitacion.fecha_fin }}"
                        data-institucion="{{ capacitacion.institucion_id }}"
                        onclick="editarCapacitacion(this)"
                        data-bs-toggle="tooltip" title="Editar">
                  <i class="bi bi-pencil-square"></i>
                </button>

                <!-- Botón Ver -->
                <button class="btn btn-sm btn-outline-info"
                        data-bs-toggle="modal"
                        data-bs-target="#modalVerCapacitacion{{ capacitacion.id }}"
                        data-bs-toggle="tooltip" title="Ver">
                  <i class="bi bi-eye"></i>
                </button>

                <!-- Botón Eliminar -->
                <button class="btn btn-sm btn-outline-danger"
                        data-bs-toggle="modal"
                        data-bs-target="#modalEliminarCapacitacion"
                        data-id="{{ capacitacion.id }}"
                        data-bs-toggle="tooltip" title="Eliminar">
                  <i class="bi bi-trash3"></i>
                </button>
              </div>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="3" class="text-center text-muted">
              No hay capacitaciones registrados.
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal para Crear/Editar Capacitacion -->
  <div class="modal fade" id="modalCapacitacion" tabindex="-1" aria-labelledby="modalCapacitacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-primario); color: white;">
          <h5 class="modal-title" id="modalCapacitacionLabel">Crear/Editar Capacitacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="mb-3">
              <label for="id_nombre" class="form-label">Nombre de la Capacitacion</label>
              <input type="text" class="form-control" id="nombreCapacitacion"  placeholder="Ingresa el nombre de la Capacitacion" required></input>
            </div>
            <div class="mb-3">
              <label for="id_descripcion" class="form-label">Descripción de la Capacitacion</label>
              <textarea class="form-control" id="descripcionCapacitacion" rows="3" placeholder="Ingresa la descripcion de la Capacitacion" required></textarea>
            </div>
            <div class="mb-3">
              <label for="id_fecha_inicio" class="form-label">Fecha de Inicio</label>
              <input type="date" class="form-control" id="fechaInicioCapacitacion" required>
            </div>
            <div class="mb-3">
              <label for="id_fecha_fin" class="form-label">Fecha de Fin</label>
              <input type="date" class="form-control" id="fechaFinCapacitacion" required>
            </div>
            <div class="mb-3">
              <label for="id_institucion" class="form-label">Institucion</label>
                {{ form.institucion }}
            </div>
            <button type="submit" class="btn w-100" style="background-color: var(--color-primario); color: white;">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Ver Detalles -->
  <div class="modal fade" id="modalVerCapacitacion" tabindex="-1" aria-labelledby="modalVerCapacitacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-primario); color: white;">
          <h5 class="modal-title" id="modalVerCapacitacionLabel">Detalles de la Capacitacion</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Nombre:</strong> Comunicación Efectiva en el Trabajo</p>
          <p><strong>Descripcion:</strong> Taller práctico para mejorar habilidades de comunicación interpersonal y manejo de conflictos en entornos laborales.</p>
          <p><strong>Fecha de Inicio:</strong> 01-02-2025</p>
          <p><strong>Fecha de Fin:</strong> 01-04-2025</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Confirmar Eliminación -->
  <div class="modal fade" id="modalEliminarCapacitacion" tabindex="-1" aria-labelledby="modalEliminarCapacitacionLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-enfasis); color: white;">
          <h5 class="modal-title" id="modalEliminarCapacitacionLabel">Confirmar Eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar esta Capacitacion?</p>
        </div>
        <div class="modal-footer">
          <form id="formEliminarCapacitacion" method="post">
              {% csrf_token %}
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
 
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        
      const modalEliminar = document.getElementById('modalEliminarCapacitacion');
      modalEliminar.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const capacitacionId = button.getAttribute('data-id');
        const form = document.getElementById('formEliminarCapacitacion');
        form.action = `/capacitaciones/${capacitacionId}/eliminar/`;
      });
    });


    const modalCrearEditar = document.getElementById('modalCapacitacion');

    modalCrearEditar.addEventListener('show.bs.modal', function (event) {
      const triggerButton = event.relatedTarget;

      if (!triggerButton.getAttribute('data-id')) {
        limpiarFormulario();
      }
    });

    function limpiarFormulario() {
      const form = document.getElementById('formCapacitacion');
      form.reset();
      document.getElementById('id_capacitacion').value = '';
      document.getElementById('modalCapacitacionLabel').textContent = 'Crear Nueva Capacitacion';
      document.querySelector('#formCapacitacion button[type="submit"]').textContent = 'Guardar';
    }


    function editarCapacitacion(button) {
      const capacitacionId = button.getAttribute('data-id');
      const nombre = button.getAttribute('data-nombre');
      const descripcion = button.getAttribute('data-descripcion');
      const fecha_inicio = parseFloat(button.getAttribute('data-fecha_inicio'));
      const fecha_fin = parseFloat(button.getAttribute('data-fecha_fin'));
      const institucion = button.getAttribute('data-institucion');

      document.getElementById('id_capacitacion').value = capacitacionId || '';
      document.getElementById('id_nombre').value = nombre || '';
      document.getElementById('id_descripcion').value = descripcion || '';
      document.getElementById('id_fecha_inicio').value = isNaN(fecha_inicio) ? '' : fecha_inicio;
      document.getElementById('id_fecha_fin').value = isNaN(fecha_fin) ? '' : fecha_fin;
      document.getElementById('id_institucion').value = institucion || '';

      document.getElementById('modalCapacitacionLabel').textContent = 'Editar Capacitacion';
      document.querySelector('#formCapacitacion button[type="submit"]').textContent = 'Actualizar';
    }

    </script>
  {% endblock %}
</body>
</html>
