{% extends "base.html"%}

  {% block title %}Gestión de Cargos{% endblock %}
  
  {% block content %}

  <div class="container my-5">
    <h1 class="mb-4" style="color: var(--color-primario);">Gestión de Cargos</h1>

    <!-- Botón para Crear -->
    <button type="button" class="btn mb-3 btn-primary" data-bs-toggle="modal" data-bs-target="#modalCargo">
      + Crear Nuevo Cargo
    </button>

    <!-- Tabla de Cargos -->
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background-color: var(--color-suave);">
          <tr>
            <th>Nombre</th>
            <th>Descripción</th>
            <th>Sueldo</th>
            <th>Categoria</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for cargo in cargos %}
          <tr>
            <td>{{ cargo.nombre }}</td>
            <td>{{ cargo.descripcion }}</td>
            <td>
              {% if cargo.sueldo_base %}
                ${{ cargo.sueldo_base }}
              {% else %}
                Sin sueldo registrado
              {% endif %}
            </td>
            <td>{{ cargo.categoria.nombre }}</td>
            <td>
              <button class="btn btn-sm btn-editar btn-secondary"
                data-bs-toggle="modal" data-bs-target="#modalCargo"
                data-id="{{ cargo.id }}"
                data-nombre="{{ cargo.nombre }}"
                data-descripcion="{{ cargo.descripcion }}"
                data-sueldo="{{ cargo.sueldo_base }}"
                data-categoria="{{ cargo.categoria.id_categoria }}"
                onclick="editarCargo(this)"
                >
                Editar
              </button>
              <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#modalVerCargo{{ cargo.id }}">Ver</button>
              <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminarCargo" data-id="{{ cargo.id }}">Eliminar</button>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal para Crear/Editar Cargo -->
<div class="modal fade" id="modalCargo" tabindex="-1" aria-labelledby="modalCargoLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form method="post" action="{% url 'crear_cargo' %}" id="formCargo">
        {% csrf_token %}
        <div class="modal-header" style="background-color: var(--color-primario); color: white;">
          <h5 class="modal-title" id="modalCargoLabel">Crear/Editar Cargo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <input type="hidden" name="id_cargo" id="id_cargo">
        <div class="modal-body">
          <div class="mb-3">
            <label for="id_nombre" class="form-label">Nombre</label>
            {{ form.nombre }}
          </div>
          <div class="mb-3">
            <label for="id_descripcion" class="form-label">Descripción</label>
            {{ form.descripcion }}
          </div>
          <div class="mb-3">
            <label for="id_sueldo_base" class="form-label">Sueldo Base</label>
            {{ form.sueldo_base }}
          </div>
          <div class="mb-3">
            <label for="id_categoria" class="form-label">Categoria</label>
            {{ form.categoria }}
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn w-100" style="background-color: var(--color-primario); color: white;">Guardar</button>
        </div>
      </form>
    </div>
  </div>
</div>


  <!-- Modal para Ver Detalles -->
  {% for cargo in cargos %}
  <div class="modal fade" id="modalVerCargo{{ cargo.id }}" tabindex="-1" aria-labelledby="modalVerCargo{{ cargo.id }}Label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-primario); color: white;">
          <h5 class="modal-title" id="modalVerCargo{{ cargo.id }}Label">Detalles del Cargo</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Nombre:</strong> {{ cargo.nombre }}</p>
          <p><strong>Descripción:</strong> {{ cargo.descripcion }}</p>
          <p><strong>Sueldo Base:</strong> 
              {% if cargo.sueldo_base %}
                ${{ cargo.sueldo_base }}
              {% else %}
                Sin sueldo registrado
              {% endif %}
          </p>
          <p><strong>Categoria:</strong> {{ cargo.categoria }}</p>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}


  <!-- Modal para Confirmar Eliminación -->
  <div class="modal fade" id="modalEliminarCargo" tabindex="-1" aria-labelledby="modalEliminarCargoLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-enfasis); color: white;">
          <h5 class="modal-title" id="modalEliminarCargoLabel">Confirmar Eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar este Cargo?</p>
        </div>
        <div class="modal-footer">
          <form id="formEliminarCargo" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function () {
        
        const modalEliminar = document.getElementById('modalEliminarCargo');
        modalEliminar.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const cargoId = button.getAttribute('data-id');
        const form = document.getElementById('formEliminarCargo');
        form.action = `/cargos/${cargoId}/eliminar/`;
      });
    });

    document.getElementById('btnCrearCargo').addEventListener('click', limpiarFormulario);


    function editarCargo(button) {
      const cargoId = button.getAttribute('data-id');
      const nombre = button.getAttribute('data-nombre');
      const descripcion = button.getAttribute('data-descripcion');
      const sueldo = parseFloat(button.getAttribute('data-sueldo'));
      const categoria = button.getAttribute('data-categoria');

      document.getElementById('id_cargo').value = cargoId || '';
      document.getElementById('id_nombre').value = nombre || '';
      document.getElementById('id_descripcion').value = descripcion || '';
      document.getElementById('id_sueldo_base').value = isNaN(sueldo) ? '' : sueldo;
      document.getElementById('id_categoria').value = categoria || '';


      document.getElementById('modalCargoLabel').textContent = 'Editar Cargo';
      document.querySelector('#formCargo button[type="submit"]').textContent = 'Actualizar';
    }


    function limpiarFormulario() {
      const form = document.getElementById('formCargo');
      form.reset();
      document.getElementById('id_cargo').value = '';
      document.getElementById('modalCargoLabel').textContent = 'Crear Nuevo Cargo';
      document.querySelector('#formCargo button[type="submit"]').textContent = 'Guardar';
    }

    </script>
  {% endblock %}
</body>
</html>