{% extends "base.html" %}
{% load custom_filters %}
{% load static %}
{% block title %}Gestionar empleados en {{ evaluacion.descripcion }}{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/badge_tables.css' %}">
<div class="container-fluid p-5 mt-2">  
    <div class="d-flex flex-column flex-md-row align-items-md-center justify-content-between mb-1">
        <h5 class="mb-1 mb-md-0">Gestionar empleados para <strong>{{ evaluacion.descripcion }} ({{evaluacion.fecha_evaluacion|date:"d/m/Y"}})</strong></h5>
        <a href="{% url 'evaluaciones' %}" class="btn btn-secondary mr-2">
        <i class="bi bi-arrow-left"></i> Volver a <strong>Evaluaciones</strong>
        </a>
    </div>
    <hr>
    <div class="card mb-3">
        <div class="card-header d-flex justify-content-between align-items-center mb-0">
            <form method="get" id="filtros-form" class="row g-3 mb-2">
                <div class="col-md-5 mr-5">
                <label class="form-label">Filtrar por Departamento</label>
                <select name="departamento" class="form-select" onchange="this.form.submit()">
                    <option value="todos" {% if departamento_seleccionado == 'todos' %}selected{% endif %}>Todos</option>
                    {% for depto in departamentos %}
                    <option value="{{ depto.id }}" {% if departamento_seleccionado == depto.id|stringformat:"s" %}selected{% endif %}>
                        {{ depto.nombre }}
                    </option>
                    {% endfor %}
                </select>
                </div>

                <div class="col-md-4 ml-5">
                <label class="form-label">Buscar por DNI</label>
                <input type="text" name="dni" value="{{ dni_busqueda }}" class="form-control" placeholder="Ingrese DNI">
                </div>
            </form>
        </div>
    </div>
    
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover table-bordered align-middle mb-0" style="font-size: 0.9rem;">
                    <thead class="table-light text-center">
                        <tr>
                        <th>Nombre Completo</th>
                        <th style="width:5%;">DNI</th>
                        <th>Departamento</th>
                        <th>Cargo</th>
                        <th style="width:7%;">Estado</th>
                        <th style="width:7%;">Asignacion</th>
                        <th style="width:5%;">Calificar</th>
                        <th style="width:7%;">Calificacion</th>
                        </tr>
                    </thead>
                    <tbody class="text-center p-1 fs-7">
                        {% for empleado in empleados %}
                        <tr>
                        <td>{{ empleado.apellido }}, {{ empleado.nombre }}</td>
                        <td>{{ empleado.dni }}</td>
                        <td>{{ empleado.departamento_actual_nombre }}</td>
                        <td>{{ empleado.cargo_actual_nombre }}</td>
                        <td>
                            {% if empleado.id in asignados_ids %}            
                                {% if calificaciones_finales|dict_get:empleado.id %}
                                    <span class="badge bg-success">Calificado</span>
                                {%else%}
                                    <span class="badge bg-primary">Asignado</span>
                                {%endif%}
                            {% else %}
                            <span class="badge bg-secondary">No asignado</span>
                            {% endif %}
                        </td>
                        <td class="text-center">
                            {% if modo == 'ver' %}
                                {% if empleado.id in asignados_ids %}
                                    <button class="btn btn-sm btn-secondary" style="font-size:0.9rem;" title="Modo Ver (asignado)" disabled>
                                        <i class="bi bi-person-x-fill"></i> 
                                    </button>
                                {% else %}
                                    <button class="btn btn-sm btn-secondary" style="font-size:0.9rem;" title="Modo Ver (no asignado)" disabled>
                                        <i class="bi bi-person-check-fill"></i>
                                    </button>
                                {% endif %}

                            {% else %}
                                {% if empleado.id in asignados_ids %}
                                    {% if calificaciones_finales|dict_get:empleado.id %}
                                        <button class="btn btn-sm btn-secondary" style="font-size:0.9rem;" title="No se puede quitar (ya calificado)" disabled>
                                            <i class="bi bi-person-x-fill"></i>
                                        </button>
                                    {% else %}
                                        <a href="{% url 'quitar_empleado' evaluacion.id empleado.id %}?departamento={{ departamento_seleccionado }}&dni={{ dni_busqueda }}" 
                                            class="btn btn-sm btn-danger"  style="font-size:0.9rem;" title="Quitar asignación">
                                            <i class="bi bi-person-x-fill"></i>
                                        </a>
                                    {% endif %}
                                {% else %}
                                    <a href="{% url 'asignar_empleado' evaluacion.id empleado.id %}?departamento={{ departamento_seleccionado }}&dni={{ dni_busqueda }}" 
                                        class="btn btn-sm btn-success"  style="font-size:0.9rem;" title="Asignar empleado">
                                        <i class="bi bi-person-check-fill"></i>
                                    </a>
                                {% endif %}
                            {% endif %}        
                        </td>

                        <td class="text-center">
                            {% if empleado.id in asignados_ids %}
                                {% if calificaciones_finales|dict_get:empleado.id %}
                                    <button type="button"  style="font-size:0.9rem;" class="btn btn-sm btn-warning btn-sm btn-cargar-calificacion" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#modalCalificar"
                                        data-url="{% url 'calificar_empleado' evaluacion.id empleado.id %}">
                                        <i class="bi bi-eye-fill"></i> 
                                    </button>
                                {% else %}
                                    <button type="button"  style="font-size:0.9rem;" class="btn btn-sm btn-info btn-cargar-calificacion" 
                                        data-bs-toggle="modal" 
                                        data-bs-target="#modalCalificar"
                                        data-url="{% url 'calificar_empleado' evaluacion.id empleado.id %}">
                                        <i class="bi bi-pencil-square"></i> 
                                    </button>
                                {% endif %}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            {% if empleado.id in asignados_ids %}
                            {% with cal=calificaciones_finales|dict_get:empleado.id %}
                                {% if cal %}
                                    <span class="badge {% if cal >= 6 %}bg-success{% else %}bg-danger{% endif %}">
                                        {{ cal|floatformat:2 }}
                                    </span>
                                {% else %}
                                    <span class="badge bg-primary">
                                        Sin Calificar
                                    </span>
                                {% endif %}
                            {% endwith %}
                            {%else%}
                               -
                            {%endif%}
                        </td>
                        </tr>
                        {% empty %}
                        <tr>
                        <td colspan="6" class="text-center">No se encontraron empleados</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                    </table>

                    <nav aria-label="Paginación">
                        <ul class="pagination justify-content-center mt-4">
                        {% if page_obj.has_previous %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% for num in page_obj.paginator.page_range %}
                            {% if page_obj.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                            {% else %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                            {% endif %}
                        {% endfor %}

                        {% if page_obj.has_next %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ page_obj.next_page_number }}">&raquo;</a>
                            </li>
                        {% else %}
                            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>

<div class="modal fade" id="modalCalificar" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-scrollable" style="margin-top: 3rem;">
    <div class="modal-content"></div>
  </div>
</div>


</div>


<script>
document.addEventListener("DOMContentLoaded", () => {
    const formFiltros = document.getElementById("filtros-form");
    const inputDNI = formFiltros.querySelector("input[name='dni']");

    inputDNI.focus();
    inputDNI.setSelectionRange(inputDNI.value.length, inputDNI.value.length);

    let searchTimeout;

    window.actualizarTabla = function() {
        const params = new URLSearchParams(new FormData(formFiltros)).toString();
        fetch(`${window.location.pathname}?${params}`, {
            headers: { "X-Requested-With": "XMLHttpRequest" }
        })
        .then(response => response.json())
        .then(data => {
            document.querySelector(".table-responsive").innerHTML = data.html;

            asignarBotonesCalificacion();

            inputDNI.focus();
            inputDNI.setSelectionRange(inputDNI.value.length, inputDNI.value.length);
        });
    }

    inputDNI.addEventListener("keyup", () => {
        clearTimeout(searchTimeout);
        searchTimeout = setTimeout(actualizarTabla, 500);
    });

    function asignarBotonesCalificacion() {
        document.querySelectorAll(".btn-cargar-calificacion").forEach(btn => {
            btn.addEventListener("click", () => {
                const url = btn.dataset.url;
                const modalContent = document.querySelector("#modalCalificar .modal-content");

                fetch(url)
                    .then(res => res.text())
                    .then(html => {
                        modalContent.innerHTML = html;

                        const form = modalContent.querySelector("#formCalificarEmpleado");
                    });
            });
        });
    }
    asignarBotonesCalificacion();
});



document.addEventListener("click", function(e) {
    if(e.target && e.target.id === "btnEditarCalificacion"){
        const form = document.getElementById("formCalificarEmpleado");
        const confirmar = confirm("Ya existe una calificación. ¿Está seguro que desea sobrescribir los datos anteriores?");
        if(confirmar){
            form.submit();
        }
    }
});

</script>

{% endblock %}
