{% extends "base.html"%}

{% block title %}Página Principal{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid ml-0 mt-3"><hr>

        {% if request.session.rol_actual == 'admin' or request.session.rol_actual == 'gerente' or request.session.rol_actual == 'jefe'%}
            <div class="d-flex gap-1 flex-wrap">    
                {% include "dashboard/dashboard.html" %}                
            </div>
        {% elif request.session.rol_actual == 'normal'%}
            <div class="d-flex gap-1 flex-wrap mt-5">
                <meta http-equiv="refresh" content="0; url={% url 'user_perfil' %}">
            </div>
        {% else %}
            <div class="d-flex gap-1 flex-wrap">    
                {% include "dashboard/dashboard_empleado.html" %}                
            </div>
        {% endif %}
    </div>
</div>

    
<style>
  .btn-chatbot {
    position: fixed;
    bottom: 40px;
    right: 25px;
    background-color: #0abcdfff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    font-size: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 1050; 
  }

  .btn-chatbot:hover {
    background-color: #0bb3d9;
    transform: scale(1.1);
  }
</style>

{% endblock %}


<style>
    .objetivo-completado {
        text-decoration: line-through;
        color: gray;
        opacity: 0.6;
        transition: all 0.3s ease;
    }
</style>

{% block extra_js %}
<script>
    function toggleAdminMode() {
        const userContent = document.getElementById('user-content');
        const adminContent = document.getElementById('admin-content');
        userContent.classList.toggle('d-none');
        adminContent.classList.toggle('d-none');
    }


    $(document).on("change", ".objetivo-check", function() {
        let objetivoId = $(this).data("id");
        let completado = $(this).is(":checked");

        let label = $(this).closest(".form-check").find("label");
        if (completado) {
            label.addClass("objetivo-completado");
        } else {
            label.removeClass("objetivo-completado");
        }
        
        $.ajax({
            url: "{% url 'marcar_objetivo' %}",
            type: "POST",
            data: {
                'csrfmiddlewaretoken': '{{ csrf_token }}',
                'objetivo_id': objetivoId,
                'completado': completado
            },
            success: function(response) {
                if (response.success) {
                    $("#barra-progreso")
                        .css("width", response.progreso + "%")
                        .text(response.progreso + "%");
                }
            }
        });
    });

</script>
{% endblock %}
