{% extends "base.html"%}

  {% block title %}Gestión de Personas{% endblock %}
  
  {% block content %}

  <div class="container my-5">
    <h1 class="mb-4" style="color: var(--color-primario);">Gestión de Personas</h1>

  <div class="d-flex align-items-center justify-content-between mb-3">
    <!-- Botón para Crear -->
    <button type="button" class="btn mb-3 btn-primary" id="btnCrearPersona"
    data-bs-toggle="modal" data-bs-target="#modalPersona">
      + Crear Nueva Persona
    </button>

    <!-- Buscador por DNI -->
    <div class="ms-3">
      <input type="text" class="form-control" id="buscadorDNI" placeholder="Buscar por DNI" style="width: 200px;">
    </div>

    <!-- Filtro de Tipo de Persona -->
    <div class="mb-3">
      <label for="filtroTipoPersona" class="form-label">Filtrar por Tipo de Persona:</label>
      <select class="form-select" id="filtroTipoPersona">
        <option value="todos" selected>Todos</option>
        <option value="empleado">Empleados</option>
        <option value="postulante">Postulantes</option>
      </select>
    </div>
  </div>

    <!-- Tabla de Personas -->
    <div class="table-responsive">
      <table class="table table-bordered text-center">
        <thead style="background-color: var(--color-suave);">
          <tr>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>DNI</th>
            <th>Email</th>
            <th>Telefono</th>
            <th>Fecha Nacimiento</th>
            <th>Direccion</th>
            <th>Tipo Persona</th>
            <th>Estado</th>
            <th>Cargo</th>
            <th style="width:15%">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for persona in personas %}
            <tr class="fila-persona" data-tipo="{{ persona.tipo_persona }}">
              <td>{{ persona.nombre }}</td>
              <td>{{ persona.apellido }}</td>
              <td>{{ persona.dni }}</td>
              <td>{{ persona.email }}</td>
              <td>{{ persona.telefono }}</td>
              <td>{{ persona.fecha_nacimiento|date:"d-m-Y" }}</td>
              <td>{{ persona.direccion }}</td>
              <td>{{ persona.tipo_persona|capfirst }}</td>
              <td>{{ persona.estado }}</td>
              <td>{{ persona.nombre_cargo }}</td>
              <td>
                <button class="btn btn-sm btn-editar btn-secondary"
                data-bs-toggle="modal" data-bs-target="#modalPersona"
                  data-id="{{ persona.id }}"
                  data-nombre="{{ persona.nombre }}"
                  data-apellido="{{ persona.apellido }}"
                  data-dni="{{ persona.dni }}"
                  data-email="{{ persona.email }}"
                  data-telefono="{{ persona.telefono }}"
                  data-fecha-nacimiento="{{ persona.fecha_nacimiento|date:'Y-m-d' }}"
                  data-direccion="{{ persona.direccion }}"
                  data-tipo-persona="{{ persona.tipo_persona }}"
                  {% if persona.tipo_persona == 'empleado' %}
                  data-estado="{{ persona.estado }}"
                  {% else %}
                  data-estado=""
                {% endif %}
                {% if persona.cargo != null %}
                  data-cargo="{{ persona.cargo }}"
                  {% else %}
                  data-cargo=""
                {% endif %}
                  onclick="editarPersona(this)" 
                  >
                  Editar
                </button>
                <button class="btn btn-sm btn-info" data-bs-toggle="modal" data-bs-target="#modalVerPersona{{ persona.id }}" data-id="{{ persona.id }}">Ver</button>
                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalEliminarPersona" data-id="{{ persona.id }}">Eliminar</button>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="9">No hay personas registradas.</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <!-- Modal para Crear/Editar Persona -->
  <div class="modal fade" id="modalPersona" tabindex="-1" aria-labelledby="modalPersonaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-primario); color: white;">
          <h5 class="modal-title" id="modalPersonaLabel">Crear/Editar Persona</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form method="post" action="{% url 'crear_persona' %}" id="formPersona">
            {% csrf_token %}
            <input type="hidden" name="id_persona" id="id_persona">
            <div class="mb-3">
              <label for="id_nombre" class="form-label">Nombre</label>
              {{ form.nombre }}
            </div>
            <div class="mb-3">
              <label for="id_apellido" class="form-label">Apellido</label>
              {{ form.apellido }}
            </div>
            <div class="mb-3">
              <label for="id_dni" class="form-label">DNI</label>
              {{ form.dni }}
            </div>
            <div class="mb-3">
              <label for="id_email" class="form-label">Email</label>
              {{ form.email }}
            </div>
            <div class="mb-3">
              <label for="id_telefono" class="form-label">Teléfono</label>
              {{ form.telefono }}
            </div>
            <div class="mb-3">
              <label for="id_fecha_nacimiento" class="form-label">Fecha de Nacimiento</label>
              {{ form.fecha_nacimiento }}
            </div>
            <div class="mb-3">
              <label for="id_direccion" class="form-label">Dirección</label>
              {{ form.direccion }}
            </div>
          
            <div class="mb-3">
              <label for="id_tipo_persona" class="form-label">Tipo de Persona</label>
              {{ form.tipo_persona }}
            </div>
              <!-- Campo para Empleado -->
              <div id="campoEstado" class="mb-3" style="display: none;">
                <label for="id_estado" class="form-label">Estado del Empleado</label>
                {{ form.estado }}
              </div>

              <div id="campoCargo" class="mb-3" style="display: none;">
                <label for="id_cargo" class="form-label">Cargo</label>
                {{ form.cargo }}
              </div>
            <!-- Campo para Postulante 
            <div id="campoPostulante" class="mb-3" style="display: none;">
              <label for="id_fecha_postulacion" class="form-label">Fecha de Postulación</label>
              {{ form.fecha_postulacion }}
              <label for="id_estado_postulante" class="form-label">Estado de Postulación</label>
              {{ form.estado_postulante }}
            </div>
          -->
            <button type="submit" class="btn w-100" style="background-color: var(--color-primario); color: white;">Guardar</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal para Ver Detalles -->
  {% for persona in personas %}
  <div class="modal fade" id="modalVerPersona{{ persona.id }}" tabindex="-1" aria-labelledby="modalVerPersonaLabel{{ persona.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-primario); color: white;">
          <h5 class="modal-title" id="modalVerPersonaLabel{{ persona.id }}">Detalles de la Persona</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p><strong>Nombre:</strong> <span>{{ persona.nombre }}</span></p>
          <p><strong>Apellido:</strong> <span>{{ persona.apellido }}</span></p>
          <p><strong>DNI:</strong> <span>{{ persona.dni }}</span></p>
          <p><strong>Email:</strong> <span>{{ persona.email }}</span></p>
          <p><strong>Teléfono:</strong> <span>{{ persona.telefono }}</span></p>
          <p><strong>Fecha de Nacimiento:</strong> <span>{{ persona.fecha_nacimiento }}</span></p>
          <p><strong>Dirección:</strong> <span>{{ persona.direccion }}</span></p>
          <p><strong>Tipo de Persona:</strong> <span>{{ persona.tipo_persona }}</span></p>
          {% if persona.tipo_persona == 'empleado' %}
            <p><strong>Estado del Empleado:</strong> <span>{{ persona.estado }}</span></p>
            <p><strong>Cargo:</strong> <span>{{ persona.nombre_cargo }}</span></p>
        {% endif %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}

  <!-- Modal para Confirmar Eliminación -->
  <div class="modal fade" id="modalEliminarPersona" tabindex="-1" aria-labelledby="modalEliminarPersonaLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="background-color: var(--color-enfasis); color: white;">
          <h5 class="modal-title" id="modalEliminarPersonaLabel">Confirmar Eliminación</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>¿Estás seguro de que deseas eliminar esta Persona?</p>
        </div>
        <div class="modal-footer">
          <form id="formEliminarPersona" method="post">
            {% csrf_token %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-danger">Eliminar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
 
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

  <script>

    function toggleCampos() {
      const tipoPersona = document.getElementById('id_tipo_persona').value;
      const campoEstado = document.getElementById('campoEstado');
      const campoCargo = document.getElementById('campoCargo');
    
      if (tipoPersona === 'empleado') {
        campoEstado.style.display = 'block';
        campoCargo.style.display = 'block';
      } else {
        campoEstado.style.display = 'none';
        campoCargo.style.display = 'none';
      }
    }


    document.getElementById('btnCrearPersona').addEventListener('click', limpiarFormulario);

    document.addEventListener('DOMContentLoaded', function () {
      const tipoPersona = document.getElementById('id_tipo_persona');
      tipoPersona.addEventListener('change', toggleCampos);
      toggleCampos();



      const modalEliminar = document.getElementById('modalEliminarPersona');
      modalEliminar.addEventListener('show.bs.modal', function (event) {
        const button = event.relatedTarget;
        const personaId = button.getAttribute('data-id');
        const form = document.getElementById('formEliminarPersona');
        form.action = `/personas/${personaId}/eliminar/`;
      });

      
    });


    /*
    // Mostrar/ocultar campos adicionales según tipo_persona
    function toggleEmpleadoFields() {
      const tipoPersona = document.getElementById('id_tipo_persona').value;
      const empleadoFields = document.getElementById('empleado_fields');
      empleadoFields.style.display = (tipoPersona === 'empleado') ? 'block' : 'none';
    }
    */
    // Limpiar el formulario al crear una nueva persona
    function limpiarFormulario() {
      const form = document.getElementById('formPersona');
      form.reset();
      document.getElementById('id_persona').value = '';
      document.getElementById('modalPersonaLabel').textContent = 'Crear Nueva Persona';
      document.querySelector('#formPersona button[type="submit"]').textContent = 'Guardar';
      //toggleEmpleadoFields();
      toggleCampos();
    }

    // Cargar datos de la persona en el modal para editar
    function editarPersona(button) {
      document.getElementById('id_estado').value = '';
      document.getElementById('id_cargo').value = '';

      const personaId = button.getAttribute('data-id');
      const nombre = button.getAttribute('data-nombre');
      const apellido = button.getAttribute('data-apellido');
      const dni = button.getAttribute('data-dni');
      const email = button.getAttribute('data-email');
      const telefono = button.getAttribute('data-telefono');
      const fechaNacimiento = button.getAttribute('data-fecha-nacimiento');
      const direccion = button.getAttribute('data-direccion');
      const tipoPersona = button.getAttribute('data-tipo-persona');
      const estado = button.getAttribute('data-estado');
      const cargo = button.getAttribute('data-cargo');

      document.getElementById('id_persona').value = personaId;
      document.getElementById('id_nombre').value = nombre;
      document.getElementById('id_apellido').value = apellido;
      document.getElementById('id_dni').value = dni;
      document.getElementById('id_email').value = email;
      document.getElementById('id_telefono').value = telefono;
      document.getElementById('id_fecha_nacimiento').value = fechaNacimiento;
      document.getElementById('id_direccion').value = direccion;
      document.getElementById('id_tipo_persona').value = tipoPersona;
      toggleCampos();
      
      if (tipoPersona === 'empleado') {
        const estado = button.getAttribute('data-estado');
        const cargo = button.getAttribute('data-cargo');
        if (estado) {
          document.getElementById('id_estado').value = estado;
        }
        if (cargo) {
          document.getElementById('id_cargo').value = cargo;
        }
      }

      document.getElementById('modalPersonaLabel').textContent = 'Editar Persona';
      document.querySelector('#formPersona button[type="submit"]').textContent = 'Actualizar';
    }




    document.getElementById("buscadorDNI").addEventListener("input", function () {
      const filtro = this.value.trim(); 
      const filas = document.querySelectorAll(".fila-persona");
    
      filas.forEach(fila => {
        const dni = fila.querySelector("td:nth-child(3)").textContent;
        if (dni.includes(filtro)) {
          fila.style.display = "";
        } else {
          fila.style.display = "none";
        }
      });
    });
    


    document.getElementById('filtroTipoPersona').addEventListener('change', function () {
    const filtro = this.value; 
    const filas = document.querySelectorAll('.fila-persona'); 
  
    filas.forEach(fila => {
      const tipo = fila.getAttribute('data-tipo'); 
  
      if (filtro === 'todos' || filtro === tipo) {
        fila.style.display = ''; 
      } else {
        fila.style.display = 'none'; 
      }
    });
  });


  // Escuchar el botón para crear nueva persona
document.getElementById('btnCrearPersona').addEventListener('click', function () {
  const form = document.getElementById('formPersona');
  form.reset();
  form.action = '/personas/crear/';
  document.getElementById('modalPersonaLabel').textContent = 'Crear Persona';
  toggleCampos();
});



  // Mostrar campos dinámicos según el tipo de persona seleccionado
  document.getElementById('tipoPersona').addEventListener('change', function () {
    const tipoPersona = this.value;
    const campoEstado = document.getElementById('campoEstado');
    const campoPostulante = document.getElementById('campoPostulante');

    if (tipoPersona === 'empleado') {
      campoEmpleado.style.display = 'block';
      campoPostulante.style.display = 'none';
    } else if (tipoPersona === 'postulante') {
      campoEmpleado.style.display = 'none';
      campoPostulante.style.display = 'block';
    } else {
      campoEmpleado.style.display = 'none';
      campoPostulante.style.display = 'none';
    }
  });

</script>
{% endblock %}
</body>
</html>
