{% load filename_filters %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/user_perfil/edit_datos_personales.css' %}">

<div class="tab-pane fade p-2" id="datos-personales" role="tabpanel">
  <form method="POST" enctype="multipart/form-data" id="perfilForm" action="{% url 'perfil_save' %}" class="text-start">
    {% csrf_token %}
    {{ form.non_field_errors }}
  
  
<div class="row g-4 align-items-center mb-3">
    
    <div class="col-md-2 d-flex justify-content-center">
        <div id="avatarContainerEdit">
            {% if request.user.persona.avatar %}
              <img id="previewAvatarEdit" src="{{ request.user.persona.avatar.url }}" alt="Avatar">
            {% else %}
              <div id="defaultAvatarIcon" class="bg-secondary d-flex justify-content-center align-items-center text-white">
                <i class="bi bi-person-circle" style="font-size: 3rem;"></i>
              </div>
            {% endif %}
            <div id="avatarPlus"><i class="bi bi-plus"></i></div>
            
             <div id="hiddenAvatarInputFields">
                {{ form.avatar }} 
            </div>
        </div>
    </div>

    <div class="col-md-10">
        <div class="cv-upload-container d-flex justify-content-between align-items-center">
            <div class="d-flex align-items-center">
              <i class="bi bi-cloud-arrow-up-fill me-2 fs-5"></i>
              <div>
                <strong>Sube tu CV aquí</strong>
                <span class="d-block small">Formatos permitidos: PDF o ZIP</span>
              </div>
            </div>

            <div class="d-flex align-items-center gap-2">
              <button type="button" class="btn btn-light btn-sm btn-outline-secondary" id="seleccionarCVBtn">
                <i class="bi bi-upload"></i> Seleccionar archivo
              </button>

              {% if form.instance.cvitae %}
                <input type="text" id="cvitaeNombre" class="form-control" style="width: 220px;" value="{{ form.instance.cvitae.name|basename }}" readonly>
              {% else %}
                <input type="text" id="cvitaeNombre" class="form-control" style="width: 220px;" placeholder="Ningún archivo seleccionado" readonly>
              {% endif %}

              {% if request.user.persona.cvitae %}
                <a href="{{ request.user.persona.cvitae.url }}" target="_blank" id="verCVBtn" class="btn btn-primary btn-sm me-2">
                  <i class="bi bi-file-earmark-arrow-down"></i>
                </a>
              {% endif %}
              {% if request.user.persona.cvitae %}
              <button type="button" id="eliminarCVBtn" class="btn btn-sm btn-danger">
                <i class="bi bi-trash"></i> 
              </button>
            {% endif %}
            </div>
            {{ form.cvitae }}
          </div>
    </div>
</div>

  
  <div class="p-3">
    <div class="row g-2">
      <h5 class="section-title">Identificación</h5>
    
      <div class="col-md-4">
        <label for="nombre" class="fw-semibold form-label">Nombres</label>
        <div class="input-group">
          {{ form.nombre.errors }}
          {{ form.nombre }}
          <span class="input-group-text"><i class="bi bi-person-fill text-muted"></i></span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="apellido" class="fw-semibold form-label">Apellidos</label>
        <div class="input-group">
          {{ form.apellido.errors }}
          {{ form.apellido }}
          <span class="input-group-text"><i class="bi bi-person-fill text-muted"></i></span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="dni" class="fw-semibold form-label">DNI</label>
        <div class="input-group">
          {{ form.dni.errors }}
          {{ form.dni }}
          <span class="input-group-text"><i class="bi bi-credit-card-2-front-fill text-muted"></i></span>
        </div>
      </div>
    </div>
      
    <div class="row g-2 mt-3"> 
      <h5 class="section-title">Contacto</h5>
      
      <div class="col-md-2">
        <label for="prefijo_pais" class="fw-semibold form-label">Prefijo</label>
        <div class="input-group">
          {{ form.prefijo_pais.errors }}
          {{ form.prefijo_pais }}
          <span class="input-group-text"><i class="bi bi-globe text-muted"></i></span>
        </div>
      </div>
      
      <div class="col-md-4">
        <label for="telefono" class="fw-semibold form-label">Teléfono</label>
        <div class="input-group">
          {{ form.telefono.errors }}
          {{ form.telefono }}
          <span class="input-group-text"><i class="bi bi-telephone-fill text-muted"></i></span>
        </div>
      </div>
    </div>
      
     <div class="row g-2 mt-3">  
      <h5 class="section-title">Lugar de Residencia</h5>
      
      <div class="col-md-4">
        <label for="pais" class="fw-semibold form-label">País</label>
        <div class="input-group">
          {{ form.pais.errors }}
          {{ form.pais }}
          <span class="input-group-text"><i class="bi bi-flag text-muted"></i></span>
        </div>
      </div>

      <div class="col-md-4">
        <label for="provincia" class="fw-semibold form-label">Provincia</label>
        <div class="input-group">
          {{ form.provincia.errors }}
          {{ form.provincia }}
          <span class="input-group-text"><i class="bi bi-map-fill text-muted"></i></span>
        </div>
      </div>
        
      <div class="col-md-4">
        <label for="ciudad" class="fw-semibold form-label">Ciudad</label>
        <div class="input-group">
          {{ form.ciudad.errors }}
          {{ form.ciudad }}
          <span class="input-group-text"><i class="bi bi-geo-alt-fill text-muted"></i></span>
        </div>
      </div>
      
      <div class="col-md-4 mt-2">
        <label for="calle" class="fw-semibold form-label">Calle</label>
        <div class="input-group">
          {{ form.calle.errors }}
          {{ form.calle }}
          <span class="input-group-text"><i class="bi bi-signpost-2-fill text-muted"></i></span>
        </div>
      </div>

      <div class="col-md-2 mt-2">
        <label for="numero" class="fw-semibold form-label">N°</label>
        <div class="input-group">
          {{ form.numero.errors }}
          {{ form.numero }}
          <span class="input-group-text"><i class="bi bi-hash text-muted"></i></span>
        </div>
      </div>
    </div>

    <hr class="mt-0">
      <div class="d-flex justify-content-end gap-2" id="editarAcciones">
        <button type="submit" class="btn btn-success px-4 me-4"><i class="bi bi-check-circle"></i> Guardar</button>
        <button type="button" class="btn btn-secondary px-4" id="cancelarBtn"><i class="bi bi-x-circle"></i> Cancelar</button>
      </div>

    </div>
  </form>
  </div>
</div>