{% extends "base.html" %}
{% load widget_tweaks %}
{% load static %}

{% block title %}Solicitar Vacaciones{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/badge_tables.css' %}">
<div class="container-fluid p-5 my-3">
            <h4 class="mb-3">Solicitar Vacaciones</h4>

    <div class="card shadow-lg">
        <div class="card-header d-flex justify-content-between align-items-center">
            <p class="mb-0">
                <span class="badge bg-info text-dark p-2 shadow-sm">
                    Días Disponibles: <strong class="ms-2">{{ dias_disponibles }}</strong>
                </span>
            </p>
        </div>
        <div class="card-body pt-2">
        <form method="post">
            {% csrf_token %}
            <div class="row g-2 align-items-end">
                <div class="col-md-2">
                    {{ form.fecha_inicio.label_tag }}
                    {{ form.fecha_inicio }}
                </div>
                <div class="col-md-2 me-4">
                    {{ form.fecha_fin.label_tag }}
                    {{ form.fecha_fin }}
                </div>
                <div class="col-md-4">
                    <button type="submit" class="btn btn-success shadow-sw">
                        <i class="bi bi-send-fill me-2"></i> Enviar Solicitud
                    </button>
                </div>
            </div>
            {% if form.errors %}
                <div class="alert alert-danger mt-3">
                    {% for field in form %}
                        {% for error in field.errors %}
                            <p class="mb-0">{{ field.label }}: {{ error }}</p>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <p class="mb-0">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </form>
        </div>    
    </div>


    <h4 class="mt-4 mb-2">Historial de Mis Solicitudes</h4>
    <div class="card shadow-sm border-0">
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-sm table-hover table-striped table-bordered align-middle mb-0" style="font-size: 0.95rem;">
                    <thead class="table-dark text-center">
                        <tr>
                            <th>Inicio</th>
                            <th>Fin</th>
                            <th>Días Laborables</th>
                            <th>Estado</th>
                            <th>Accion</th>
                        </tr>
                    </thead>
                    <tbody class="text-center">
                        {% for s in solicitudes %}
                        <tr>
                            <td>{{ s.fecha_inicio|date:"d/m/Y" }}</td>
                            <td>{{ s.fecha_fin|date:"d/m/Y" }}</td>
                            <td><span class="badge bg-light text-dark border">{{ s.cant_dias_solicitados }}</span></td>
                            <td>
                                {% if s.estado == "rechazado"%}
                                    <span class="badge bg-danger">{{ s.estado }}</span>
                                {% elif s.estado == "cancelado" %}
                                    <span class="badge bg-secondary">{{ s.estado }}</span>
                                {% elif s.estado == "pendiente" %}
                                    <span class="badge bg-warning">{{ s.estado }}</span>
                                {% elif s.estado == "aprobado" %}
                                    <span class="badge bg-success">{{ s.estado }}</span>
                                {% endif %}
                            </td>
                            <td>
                                {% if s.estado == "pendiente" %}
                                <button class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#modalCancelar{{ s.id }}">
                                    Cancelar
                                </button>

                                <!-- Modal de confirmación -->
                                <div class="modal fade" id="modalCancelar{{ s.id }}" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="modal-header bg-danger text-white">
                                            <h5 class="modal-title">Confirmar Cancelación</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                            </div>
                                            <div class="modal-body">
                                            ¿Seguro que deseas <strong>cancelar</strong> esta solicitud del
                                            <strong>{{ s.fecha_inicio }}</strong> al <strong>{{ s.fecha_fin }}</strong>?
                                            </div>
                                            <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">No, volver</button>

                                            <a href="{% url 'cancelar_vacacion' s.id %}" class="btn btn-danger">
                                                Sí, cancelar
                                            </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% else %}
                                -
                                {% endif %}
                            </td>
                        </tr>
                        {% empty %}
                        <tr><td colspan="4" class="text-center text-muted">No tienes solicitudes previas.</td></tr>
                        {% endfor %}
                    </tbody>
                </table>

                <nav aria-label="Paginación">
                    <ul class="pagination justify-content-center mt-4">
                        {% if solicitudes.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ solicitudes.previous_page_number }}">&laquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                        {% endif %}

                        {% for num in solicitudes.paginator.page_range %}
                        {% if solicitudes.number == num %}
                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                        {% else %}
                            <li class="page-item">
                            <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                            </li>
                        {% endif %}
                        {% endfor %}

                        {% if solicitudes.has_next %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ solicitudes.next_page_number }}">&raquo;</a>
                        </li>
                        {% else %}
                        <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</div>
{% endblock %}
