{% include 'auth/partials/base_head.html' %}
<body>
  <div class="login-container text-white">
    <h2 class="text-center mb-4">Recuperar Contraseña</h2>

    <p class="text-center mb-4" style="opacity: 0.9;">
      Ingresá tu correo electrónico y te enviaremos un enlace para restablecer tu contraseña.
    </p>

    <form method="POST">
      {% csrf_token %}
      {{ form.email.errors }}

      <div class="mb-3 position-relative">
        <input type="email" name="email" class="form-control bg-transparent text-white border-white ps-4 pe-5" placeholder="Correo electrónico" required>
        <i class="bi bi-envelope-fill position-absolute top-50 end-0 translate-middle-y text-white me-3"></i>
      </div>

      <button type="submit" class="btn btn-warning w-100 mt-3 fw-bold shadow">
        <i class="bi bi-send-fill me-2"></i>Enviar Enlace
      </button>
    </form>
  </div>

  {% include 'auth/partials/base_scripts.html' %}
</body>
</html>
